body, div {
  display:inline-block;
}
/*.font-size-0, .font-size-1 {
  visibility: hidden;
}

.font-size-2 {
  color: blue;
}

.font-size-3 {
  color: red;
}

.font-style-T1_4-1 {
  font-variant-caps: all-small-caps;
}

.font-style-T1_2-1 {
  font-style: italic;
}*/